HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
*.logs

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
logs/
src/main/resources/id_ed25519
.gitignore
src/main/resources/id_ed25519.tar.gz
src/main/resources/private_key_pkcs8.pem
src/main/resources/id_ed25519.pub
